@import "tailwindcss";
@import "@nuxt/ui";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-highlight: var(--highlight);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-selected: var(--selected);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-disabled: var(--text-disabled);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --highlight: oklch(0.93 0 0);
    --selected: oklch(0.9 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --text-disabled: oklch(0.6 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.96 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.85 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.96 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.93 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    --ui-bg: var(--color-white);
    --ui-bg-muted: var(--color-disabled);
    --ui-bg-elevated: var(--ui-color-neutral-100);
    --ui-bg-accented: var(--ui-color-neutral-200);
    --ui-bg-inverted: var(--ui-color-neutral-900);

    --ui-text-dimmed: var(--color-disabled);
    --ui-text-muted: var(--color-disabled);
    --ui-text-toned: var(--ui-color-neutral-600);
    --ui-text: var(--ui-color-neutral-900);
    --ui-text-highlighted: var(--color-black);
    --ui-text-inverted: var(--ui-color-neutral-300);
}

.dark {
    --background: oklch(0.23 0.0064 258.36);
    --foreground: oklch(0.985 0 0);
    --selected: oklch(0.36 0.013 250);
    --highlight: oklch(0.3 0.0093 268.37);
    --card: oklch(0.27 0.0078 264.44);
    --card-foreground: oklch(0.985 0 0);
    --secondary: oklch(1 0 0);
    --secondary-foreground: oklch(0.259 0 0);
    --text-disabled: oklch(0.7 0 0);
    --muted: oklch(0.259 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.259 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.3 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.5 0 0);
    --sidebar: oklch(0.2 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);

    --ui-bg: var(--background);
    --ui-bg-muted: var(--card);
    --ui-bg-elevated: var(--selected);
    --ui-bg-accented: var(--highlight);
    --ui-bg-inverted: var(--color-white);

    --ui-text-dimmed: var(--color-disabled);
    --ui-text-muted: var(--color-disabled);
    --ui-text-toned: var(--ui-color-neutral-300);
    --ui-text: var(--ui-color-neutral-200);
    --ui-text-highlighted: var(--color-white);
    --ui-text-inverted: var(--ui-color-neutral-900);
}

@theme {
    --animate-wiggle: wiggle 0.7s ease-in-out;
    @keyframes wiggle {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(-7deg);
        }
        50% {
            transform: rotate(7deg);
        }
    }
    --animate-spin-ease: spin-ease 0.7s ease-in-out;
    @keyframes spin-ease {
        to {
            transform: rotate(180deg);
        }
    }
    --animate-spin-ease-loop: spin-ease-loop 1.5s ease-in-out infinite;
    @keyframes spin-ease-loop {
        0%,
        40% {
            transform: rotate(0deg);
            scale: 1;
        }
        70% {
            scale: 1.2;
        }
        100% {
            transform: rotate(360deg);
            scale: 1;
        }
    }
    --animate-spin-invert: spin-ease 0.7s linear infinite;
    @keyframes spin-ease {
        to {
            transform: rotate(-180deg);
        }
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50 transition-colors duration-200;
    }
    body {
        @apply bg-background transition-colors ease-in-out;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

/* Global custom scrollbar */
* {
    /* For Firefox */
    scrollbar-width: thin;
}

/* For Webkit browsers */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}
